* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial Black', Gadget, sans-serif;
  background-color: rgba(105, 90, 205, 0.26);
}
